@{
    Layout = "~/Shared/_Layout.cshtml";
}

<h1 class="logo">Cinema</h1>
<div id="container">
  <div class="content">
    <div id="command"><a class="lightSwitcher" href="#">Lights</a></div>
    <div id="movie" style="width: 980px; margin-left: -20px;">
      <iframe src="http://player.vimeo.com/video/32875422?title=0&amp;byline=0&amp;portrait=0" width="1000" height="563" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>
  <div style="clear:both"></div>
  <div class="one-half">
    <h2>One half</h2>
    <p>Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus ait est amet consensit cellula rei civibus in modo ad nomine. Navibus celebrent duo dominus Lampsacenus tu bestias terras navis cupit quae vero quo. A his domino vias multis miraculum manibus individuationis quae ad suis ut diem obiecti invidunt cum magna duobus auro purpurea vobis.</p>
  </div>
  <div class="one-half last">
    <h2>One half</h2>
    <p>Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus ait est amet consensit cellula rei civibus in modo ad nomine. Navibus celebrent duo dominus Lampsacenus tu bestias terras navis cupit quae vero quo. A his domino vias multis miraculum manibus individuationis quae ad suis ut diem obiecti invidunt cum magna duobus auro purpurea vobis.</p>
  </div>
</div>