@{
    Layout = "~/Shared/_Layout.cshtml";
}

<h1 class="logo">Pretty Photo Gallery</h1>
<div id="container">
  <div class="one-fifth">
    <p> <a title="Caption Text" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth last">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth last">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth last">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
  <div class="one-fifth last">
    <p> <a title="" href="slideshow/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto"><img src="img/portfolio/portfolio-img-01.jpg" alt="" width="158" height="100" class="portfolio-img pretty-box"></a> </p>
  </div>
</div>