@{
    Layout = "~/Shared/_Layout.cshtml";
}

<div class="wrapper">
  <div id="ei-slider" class="ei-slider">
    <ul class="ei-slider-large">
      <li> <img src="img/large/1.jpg" alt="">
        <div class="ei-title">
          <h2>Beautiful</h2>
          <h3>Moments</h3>
        </div>
      </li>
      <li> <img src="img/large/2.jpg" alt="">
        <div class="ei-title">
          <h2>Passionate</h2>
          <h3>Ballerina</h3>
        </div>
      </li>
      <li> <img src="img/large/3.jpg" alt="">
        <div class="ei-title">
          <h2>Tranquility</h2>
          <h3>in red</h3>
        </div>
      </li>
      <li> <img src="img/large/4.jpg" alt="">
        <div class="ei-title">
          <h2>Vintage</h2>
          <h3>Beauty</h3>
        </div>
      </li>
      <li> <img src="img/large/5.jpg" alt="">
        <div class="ei-title">
          <h2>Mystery</h2>
          <h3>Woman</h3>
        </div>
      </li>
      <li> <img src="img/large/6.jpg" alt="">
        <div class="ei-title">
          <h2>In the</h2>
          <h3>Spotlight</h3>
        </div>
      </li>
      <li> <img src="img/large/7.jpg" alt="">
        <div class="ei-title">
          <h2>A touch of</h2>
          <h3>Fashion</h3>
        </div>
      </li>
    </ul>
    <!-- ei-slider-large -->
    <ul class="ei-slider-thumbs">
      <li class="ei-slider-element">Current</li>
      <li><a href="#">Slide 1</a><img src="img/thumbs/1.jpg" alt=""></li>
      <li><a href="#">Slide 2</a><img src="img/thumbs/2.jpg" alt=""></li>
      <li><a href="#">Slide 3</a><img src="img/thumbs/3.jpg" alt=""></li>
      <li><a href="#">Slide 4</a><img src="img/thumbs/4.jpg" alt=""></li>
      <li><a href="#">Slide 5</a><img src="img/thumbs/5.jpg" alt=""></li>
      <li><a href="#">Slide 6</a><img src="img/thumbs/6.jpg" alt=""></li>
      <li><a href="#">Slide 7</a><img src="img/thumbs/7.jpg" alt=""></li>
    </ul>
    <!-- ei-slider-thumbs -->
  </div>
  <!-- ei-slider -->
</div>
<!-- wrapper -->
<div id="container" style="box-shadow: none; border: none">
  <div class="one-half">
    <h2>One half</h2>
    <p>Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus ait est amet consensit cellula rei civibus in modo ad nomine. Navibus celebrent duo dominus Lampsacenus tu bestias terras navis cupit quae vero quo. A his domino vias multis miraculum manibus individuationis quae ad suis ut diem obiecti invidunt cum magna duobus auro purpurea vobis.</p>
  </div>
  <div class="one-half last">
    <h2>One half</h2>
    <p>Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus ait est amet consensit cellula rei civibus in modo ad nomine. Navibus celebrent duo dominus Lampsacenus tu bestias terras navis cupit quae vero quo. A his domino vias multis miraculum manibus individuationis quae ad suis ut diem obiecti invidunt cum magna duobus auro purpurea vobis.</p>
  </div>
</div>