@{
    Layout = "~/Shared/_Layout.cshtml";
}

<h1 class="logo">Fancy Photo Grid</h1>
<div id="container">
  <div class="content">
    <div id="grid">
      <div class="one-third">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Lorem Ipsum</h4>
              <p>Decollari rediit in modo ad quia. Potius aureos mercatoris vidisset spectacula tolli in lucem.Eis ad suis Tyrium coniugem in lucem.</p>
              <a href="#">Read More</a></div>
          </div>
          <img class="portfolio-item" src="img/photo_grid/grid-img-01.jpg" alt="" width="318" height="150"></div>
      </div>
      <div class="one-third">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Dummy Text</h4>
              <p>Decollari rediit in modo ad quia. Potius aureos mercatoris vidisset spectacula tolli in lucem.Eis ad suis Tyrium coniugem in lucem.</p>
              <a href="#">Read More</a></div>
          </div>
          <img class="portfolio-item" src="img/photo_grid/grid-img-02.jpg" alt="" width="318" height="150"></div>
      </div>
      <div class="one-third last-grid">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Dummy Text</h4>
              <p>Decollari rediit in modo ad quia. Potius aureos mercatoris vidisset spectacula tolli in lucem.Eis ad suis Tyrium coniugem in lucem.</p>
              <a href="#">Read More</a></div>
          </div>
          <img class="portfolio-item" src="img/photo_grid/grid-img-03.jpg" alt="" width="318" height="150"></div>
      </div>
      <div class="one-fourth">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Dummy Text</h4>
              <p>Decollari rediit in modo ad quia. Potius aureos mercatoris vidisset spectacula tolli in lucem.</p>
              <a href="#">Read More</a></div>
          </div>
          <img src="img/photo_grid/grid-img-04.jpg" alt="" width="238" height="150"></div>
      </div>
      <div class="one-fourth">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Dummy Text</h4>
              <p>Decollari rediit in modo ad quia. Potius aureos mercatoris vidisset spectacula tolli in lucem.</p>
              <a href="#">Read More</a></div>
          </div>
          <img src="img/photo_grid/grid-img-05.jpg" alt="" width="238" height="150"></div>
      </div>
      <div class="one-fourth">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Dummy Text</h4>
              <p>Decollari rediit in modo ad quia. Potius aureos mercatoris vidisset spectacula tolli in lucem.</p>
              <a href="#">Read More</a></div>
          </div>
          <img src="img/photo_grid/grid-img-06.jpg" alt="" width="238" height="150"></div>
      </div>
      <div class="one-fourth">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Dummy Text</h4>
              <p>Decollari rediit in modo ad quia. Potius aureos mercatoris vidisset spectacula tolli in lucem.</p>
              <a href="#">Read More</a></div>
          </div>
          <img src="img/photo_grid/grid-img-07.jpg" alt="" width="238" height="150"></div>
      </div>
      <div class="one-fourth">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Dummy Text</h4>
              <p>Decollari rediit in modo ad quia. Potius aureos mercatoris vidisset spectacula tolli in lucem.</p>
              <a href="#">Read More</a></div>
          </div>
          <img src="img/photo_grid/grid-img-08.jpg" alt="" width="238" height="150"></div>
      </div>
      <div class="one-fourth">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Dummy Text</h4>
              <p>Decollari rediit in modo ad quia. Potius aureos mercatoris vidisset spectacula tolli in lucem.</p>
              <a href="#">Read More</a></div>
          </div>
          <img src="img/photo_grid/grid-img-09.jpg" alt="" width="238" height="150"></div>
      </div>
      <div class="one-fifth">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Mini Block</h4>
              <p>Decollari rediit in modo ad quia.</p>
              <a href="#">Read More</a></div>
          </div>
          <img src="img/photo_grid/grid-img-10.jpg" alt="" width="118" height="150"></div>
      </div>
      <div class="one-fifth">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Mini Block</h4>
              <p>Decollari rediit in modo ad quia.</p>
              <a href="#">Read More</a></div>
          </div>
          <img src="img/photo_grid/grid-img-11.jpg" alt="" width="118" height="150"></div>
      </div>
      <div class="one-fifth">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Mini Block</h4>
              <p>Decollari rediit in modo ad quia.</p>
              <a href="#">Read More</a></div>
          </div>
          <img src="img/photo_grid/grid-img-12.jpg" alt="" width="118" height="150"></div>
      </div>
      <div class="one-fifth last-grid">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Mini Block</h4>
              <p>Decollari rediit in modo ad quia.</p>
              <a href="#">Read More</a></div>
          </div>
          <img src="img/photo_grid/grid-img-13.jpg" alt="" width="118" height="150"></div>
      </div>
      <div class="one-half">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Dummy Text</h4>
              <p>Decollari rediit in modo ad quia. Potius aureos mercatoris vidisset spectacula tolli in lucem.Eis ad suis Tyrium coniugem in lucem.</p>
              <a href="#">Read More</a></div>
          </div>
          <img class="portfolio-item" src="img/photo_grid/grid-img-17.jpg" alt="" width="478" height="150"></div>
      </div>
      <div class="one-half last-grid">
        <div class="item-hover">
          <div class="portfolio-thumbnail">
            <div class="thumb-text">
              <h4>Dummy Text</h4>
              <p>Decollari rediit in modo ad quia. Potius aureos mercatoris vidisset spectacula tolli in lucem.Eis ad suis Tyrium coniugem in lucem.</p>
              <a href="#">Read More</a></div>
          </div>
          <img class="portfolio-item" src="img/photo_grid/grid-img-18.jpg" alt="" width="478" height="150"></div>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
</div>