@{
    Layout = "~/Shared/_Layout.cshtml";
}

<h1 class="logo">Nivo Slider</h1>
<div id="container">
  <div id="slider3" class="nivoSlider"> <img title="" src="slideshow/slide_1.jpg" alt="" width="1000" height="450"> <img title="" src="slideshow/slide_2.jpg" alt="" width="1000" height="450"> <img title="" src="slideshow/slide_3.jpg" alt="" width="1000" height="450"> </div>
  <div style="clear:both"></div>
  <div class="one-third">
    <h2>One Third</h2>
    <p>Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus ait est amet consensit cellula rei civibus in modo ad nomine. Navibus celebrent duo dominus Lampsacenus tu bestias terras navis cupit quae vero quo. A his domino vias multis miraculum manibus individuationis quae ad suis ut diem obiecti invidunt cum magna duobus auro purpurea vobis.</p>
  </div>
  <div class="one-third">
    <h2>One Third</h2>
    <p>Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus ait est amet consensit cellula rei civibus in modo ad nomine. Navibus celebrent duo dominus Lampsacenus tu bestias terras navis cupit quae vero quo. A his domino vias multis miraculum manibus individuationis quae ad suis ut diem obiecti invidunt cum magna duobus auro purpurea vobis.</p>
  </div>
  <div class="one-third last">
    <h2>One Third</h2>
    <p>Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus ait est amet consensit cellula rei civibus in modo ad nomine. Navibus celebrent duo dominus Lampsacenus tu bestias terras navis cupit quae vero quo. A his domino vias multis miraculum manibus individuationis quae ad suis ut diem obiecti invidunt cum magna duobus auro purpurea vobis.</p>
  </div>
</div>